export(cdghmm)
importFrom("stats", "complete.cases", "cov", "glm", "kmeans",
               "na.omit", "pnorm", "quasibinomial", "rnorm")
importFrom("MASS", "ginv")
importFrom("mvtnorm", "dmvnorm")
importFrom("stats", "dist")
importFrom("cluster", "silhouette")
